:root {
  --dark-bg-color: cornflowerblue;
  --lite-bg-color: aliceblue;
  --dark-txt-color: midnightblue;
  --lite-txt-color: aliceblue;
  --logo-txt-color: #0E6BA8;
  --dark-hd-color: midnightblue;
  --dark-btn-color: midnightblue;
  --hilite-sel-color: #A7CCED;
  --lite-border-color: cornflowerblue;
  --dark-border-color: midnightblue;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-txt-color);
}

h2, h3 {
  color: var(--dark-hd-color);
}

p {
  line-height: 1.25;
}
/* Header and Menu*/

header {
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: var(--lite-bg-color);
  /*color: black;*/
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 0.25rem;
}

.logo span {
  font-size: 1.25rem;
  color: var(--dark-hd-color);
}

.logo span strong {
  font-weight: 700;
  color: var(--logo-txt-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  margin-right: 1rem;
}

.menu-item {
  display:inline;
  padding: 0 1rem 0 0;
  color: var(--logo-txt-color);
}

.menu-item-link {
  text-decoration: none;
  color: var(--logo-txt-color);
}

.menu-item-link:hover {
  color: var(--dark-txt-color);
}

.image-menu {
  display: none;
}

@media only screen and (max-width: 470px) {
  .logo {
    display: none ;
  }
  .text-menu {
    display: none;
  }
  .menu {
    width: 100%;
    margin: auto 2rem;
  }
  .image-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  background-color: var(--dark-bg-color);
}

.banner-image {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.banner img {
  width: 60vw;
}

.banner-text-container {
  background-color: var(--dark-bg-color);
  width: calc(40vw - 3rem);
}

.banner-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--lite-txt-color);
  margin-left: 1rem;
  margin-right: 1rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
  max-width: calc(40vw - 5rem);
}

.banner-text p {
  font-size: 1.5rem;
  font-weight:600;
  display: inline-block;
  width: auto;
  max-width: calc(40vw - 5rem);
}

.banner-button-container {
  display: flex;
  justify-content: center;
}

.banner-button {
  /*width: 100%;*/
  display: inline-block;
  background-color: var(--dark-btn-color);
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
  width: auto;
}

.banner-button a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.banner-button:hover {
  cursor: pointer;
}

.banner-button-link {
  font-weight: 600;
  color: var(--lite-bg-color);
  text-decoration: none;
}

@media only screen and (max-width: 1178px) {
  .banner img {
    width: 50vw;
  }

  .banner-text-container {
    width: calc(50vw - 3rem);
  }

  .banner-text h1 {
    max-width: calc(50vw - 5rem);
  }

  .banner-text p {
    max-width: calc(50vw - 5rem);
  }

  .banner-button-container {
    max-width: calc(50vw - 5rem);
  }

}

@media only screen and (max-width: 942px) {
  .banner img {
    width: 40vw;
  }

  .banner-text-container {
    width: calc(60vw - 3rem);
  }

  .banner-text h1 {
    max-width: calc(60vw - 5rem);
  }

  .banner-text p {
    max-width: calc(60vw - 5rem);
  }

  .banner-button-container {
    max-width: calc(60vw - 5rem);
  }

}

@media only screen and (max-width: 785px) {
  .banner {
    flex-direction: column;
    background-color: var(--dark-hd-color);
  }

  .banner-image {
    /*height: 11.25rem;*/
    width: 100%;
    padding: 0 0 0 0;
    overflow: hidden;
  }

  .banner-image img {
    width:auto;
    max-width: 100%
  }

  .banner-text-container {
    background-color: var(--dark-bg-color);
    width: 100%;
    max-width: 100%;
  }

  .banner-text {
    align-items: center;
    height: auto;
    width: auto;
    max-width:none;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem 1rem 2rem 1rem;
    color:var(--lite-bg-color);
  }

  .banner-text h1 {
    margin-bottom: 2rem;
    max-width: calc(100vw - 2rem);
  }

  .banner-text p {
    margin-bottom: 1.5rem;
    max-width: calc(100vw - 2rem);
  }

}

/* Information Section */

.info-items {
  display:flex;
  background-color: var(--lite-bg-color);
}

.main-info-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.main-info-item img {
  width: 60vw;
}

.main-info-item-desc {
  width: 60vw;
}

.main-info-item h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.main-info-item p {
  font-size: 0.9rem;
}

.signature {
  font-weight: 600;
}

.other-info-items {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-left: 1px solid var(--lite-border-color);
  flex-grow: 100;
}

.info-item-container:hover {
  background-color: var(--hilite-sel-color);
}

.info-item-container {
  border-bottom: 1px solid var(--lite-border-color);
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  max-width: 423px;
}

.std-image {
  display: block;
  padding: 1rem;
  width: 148px;
  height: 148px;
}

.mobile-image {
  display:none;
}

.info-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.info-item-desc h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem ;
}

.info-item-desc .info-item-desc-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.info-item-desc a {
  font-size: 0.9rem;
  text-decoration: none;
}

@media only screen and (max-width: 1178px) {
  .main-info-item img {
    width: 50vw;
  }

  .main-info-item-desc {
    width: 50vw;
  }

}

@media only screen and (max-width: 942px) {
  .main-info-item img {
    width: 40vw;
  }

  .main-info-item-desc {
    width: 40vw;
  }

}

@media only screen and (max-width: 785px) {
  .info-items {
    padding-bottom: 0;
  }

  .main-info-item {
    display: none;
  }

  .other-info-items {
    padding-top: 0;
    padding-bottom: 1rem;
    flex-grow: initial;
    border-left: none;
  }

  .info-item {
    flex-direction: column;
    border: none ;
    width:auto;
    max-width: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .info-item-desc {
    margin-left: 1rem;
    padding-bottom: 1rem;
    flex-grow: initial;
}

  .mobile-image {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 89vw;
    height: auto;
    }

  .std-image {
    display:none;
  }

  .info-item-container:last-child {
    background-color: var(--hilite-sel-color);
  }

}

/* Programs / Courses Section*/

.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--dark-bg-color);
}

.section-head h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--lite-bg-color);
}

.program-grid {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.program {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-border-color);
  margin: 1rem;
  flex-basis: 25%;
  background-color: white;
}

.program img {
  height: 12rem;
}

.program-desc {
  padding-left: 1rem;
}

.program h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.program h4 {
  margin: 0.5rem auto;
  line-height: 1.5;
}

.program p {
  margin-right: 0.5rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 470px) {
  .program-grid {
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
    background-color: var(--dark-bg-color);
    flex-direction: column;
    justify-content: flex-start;
  }

  .program {
    display: block;
    border: none;
    background-color: inherit;
    flex-basis: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

  .program img {
    display:none ;
  }

  .program-desc {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .program h4 {
    display: none;
  }

  .program p {
    display: none;
  }

  .program h3 {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    color: var(--lite-bg-color);
    background-color:var(--dark-btn-color);
    padding-top: 1rem ;
    padding-left: auto ;
    padding-bottom: 1rem ;
    padding-right: auto;
    width: 100%;
  }

}

/* Exhibits Section*/

.exhibits  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lite-bg-color);
}

.exhibits h2 {
  color: var(--dark-hd-color);
}

.exhibits-all {
  display: flex;
  padding-bottom: 2rem;
}

.exhibit-main {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.exhibit-main video {
  width: 100%;
  height: auto;
}

.exhibit-main h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.exhibit-main p {
  font-size: 0.9rem;
}

.exhibit-others {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.exhibit-item {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 423px;
  height: 168px;
}

.exhibit-item:hover {
  background-color: var(--hilite-sel-color);
}

.exhibit-item img {
  display: block;
  padding: 1rem;
  width: 35%;
  height: auto;
  max-height: 148px;
}

.exhibit-item h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.exhibit-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-size: 0.9rem;
}

@media only screen and (max-width: 785px) {
  .exhibits-all {
    flex-direction: column;
  }
}

@media only screen and (max-width: 470px) {
  exhibits-all {
    padding-bottom: 1rem;
  }

  .exhibit-main h3 {
    display: none;
  }

  .exhibit-main p {
    display: none;
  }

  .exhibit-others {
    display: none;
  }
}

/* Footer */

footer {
  display: flex;
  border-top: 1px solid var(--lite-border-color);
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  color: var(--logo-txt-color);
  background-color: var(--lite-bg-color);
}

footer .left {
  flex-grow: 1;
  margin-left: 1.5rem;
}

footer .right {
  text-align: right;
}

@media only screen and (max-width: 470px) {
  footer {
    padding-bottom: 1rem;
  }
  footer .right {
    display: none;
  }
}
