html {
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
}

/* Header and Menu*/

header {
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: white;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 0.25rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  margin-right: 1rem;
}

ul li {
  display:inline;
  padding: 0 1rem;
}

.image-menu {
  display: none;
}

@media only screen and (max-width: 470px) {
  .logo {
    display: none ;
  }
  .text-menu {
    display: none;
  }
  .menu {
    width: 100%;
    margin: auto 2rem;
  }
  .image-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  background-color: lightgray;
}

/*.banner-image {
  margin: 2rem 2.5rem 2rem 1.5rem;
  width: 60%;
}*/

.banner img {
  margin: 2rem 2.5rem 2rem 1.5rem;
  width: 60%;
  max-width: 100%;
}

.banner-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  color: darkslategray;
  margin-right: 1rem;
  height: 15rem;
  /* This is ugly but I can't size button based on the wrap text width */
  max-width: 21rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
}

.banner-text p {
  font-size: 1.5rem;
  font-weight:bold;
  display: inline-block;
  width: auto;
}

.banner-text .button {
  /*width: 100%;*/
  background-color: darkslategray;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 470px) {
  .banner {
    flex-direction: column;
    background-color: darkgray;

  }

  .banner img {
    display: none;
  }

  .banner-text-container {
    margin: 11.25rem 0 0 0;
    background-color: lightgray;
    width: 100%;
  }

  .banner-text {
    height: auto;
    max-width: auto;
    padding: 2rem 1rem 2rem 1rem;
  }

  .banner-text h1 {
    margin-bottom: 2rem;
  }

  .banner-text p {
    margin-bottom: 1.5rem;
  }

}

/* Information Section */

.info-items {
  display:flex;
  justify-content: space-between;
}

.main-info-item {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.main-info-item img {
  max-width: 100%;
}

.main-info-item h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.main-info-item p {
  padding: 0 1.5rem;
}

.other-info-items {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.info-item:last-child {
  background-color: lightgray;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 423px;
  border: 1px solid lightgray;
}

.std-image {
  display: block;
  padding: 1rem;
  width: 35%;
  height: auto;
  max-height: 148px;
}

.mobile-image {
  display:none;
}

.info-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.info-item-desc h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem ;
}

.info-item-desc .info-item-desc-text {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 470px) {
  .main-info-item {
    display: none;
  }

  .info-item {
    flex-direction: column;
    border: none ;
  }

  .info-item-desc {
    margin-left: 2rem;
    padding-bottom: 1rem;
  }

  .mobile-image {
    display: block;
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    max-width: 470px;
    }

  .std-image {
    display:none;
  }

  .info-item:last-child {
    background-color: white;
  }

}

/* PRograms / Courses Section*/

.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:lightgray;
}

.section-head h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.program-grid {
  display:flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.program-row {
  display: flex ;
  justify-content:center;
  margin-bottom: 0.5rem;
}

.program-row .program:nth-child(2n+0) {
  margin-left: 2rem;
  margin-right: 2rem;
}

.program {
  display: flex;
  flex-direction: column;
  height: 17.25rem;
  border: 1px solid black;
  /*flex-grow: 1;*/
  flex-basis: 30%;
  background-color: white;
}

.program img {
  height: 9.25rem;
}

.program h3 {
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
}

.program h4 {
  margin: 0.5rem auto;
  margin-left: 1rem;
}

.program p {
  margin-left: 1rem;
}

@media only screen and (max-width: 470px) {
  .programs {
    background-color: whitesmoke ;
  }

  .program-grid {
    margin-bottom: 2rem;
    width: 100%;
  }

  .program-row {
    flex-direction: column;
    justify-content: flex-start;
    background-color: whitesmoke;
    margin-bottom: auto;
    width: 100%;
  }

  .program-row .program:nth-child(2n+0) {
    margin-left: auto;
    margin-right: auto;
  }

  .program {
    height: auto ;
    border: none;
    width: 100%;
    background-color: inherit;
    flex-basis: auto;
  }

  .program h3 {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0.5rem;
    background-color:lightgray;
    padding: 1rem 0 1rem 1rem ;
    width: 100%;
  }

  .program img {
    display:none ;
  }

  .program h4 {
    display: none;
  }

  .program p {
    display: none;
  }
}

/* Exhibits Section*/

.exhibits  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibits-all {
  display: flex;
  margin-bottom: 2rem;
}

.exhibit-main {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.exhibit-main video {
  width: 100%;
  height: auto;
}

.exhibit-main h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.exhibit-others {
  display: flex;
  flex-direction: column;
}

.exhibit-item {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 423px;
  height: 168px;
}

.exhibit-item:first-child {
  background-color: lightgray;
}

.exhibit-item img {
  display: block;
  padding: 1rem;
  width: 35%;
  height: auto;
  max-height: 148px;
}

.exhibit-desc {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  flex-grow: 1;
}

@media only screen and (max-width: 470px) {
  exhibits-all {
    margin-bottom: 1rem;
  }

  .exhibit-main h3 {
    display: none;
  }

  .exhibit-main p {
    display: none;
  }

  .exhibit-others {
    display: none;
  }
}

/* Footer */

footer {
  display: flex;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer .left {
  flex-grow: 1;
  margin-left: 1.5rem;
}

footer .right {
  text-align: right;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 470px) {
  footer {
    padding-bottom: 1rem;
  }
  footer .right {
    display: none;
  }
}
